body {
  font-family: "Gaegu", cursive;
  font-size: 20px;
}

#bienvenida {
  text-align: center;
  background-image: url("portada.jpg");
  width: 1275px;
  height: 650.12px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background-size: cover;
}

#datos {
  background-image: url("espacio.jpg");
  background-size: cover;
}

#comienzo {
  font-family: "Gaegu", cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #faebeb;
  background-color: #76beda;
  border-radius: 10px;
  border: PowderBlue 5px solid;
}

#datos {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
  font-family: "Gaegu", cursive;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #faebeb;
  width: 1260px;
  height: 632px;
}

#final {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url("espacio.jpg");
  background-size: cover;
}
#offset,
#palabra {
  font-family: "Gaegu", cursive;
}
#codi {
  font-family: "Gaegu", cursive;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  background-color: #76beda;
  border-radius: 10px;
  border: PowderBlue 5px solid;
}

#decodi {
  font-family: "Gaegu", cursive;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  background-color: #76beda;
  border-radius: 10px;
  border: PowderBlue 5px solid;
}

#regreso {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Gaegu", cursive;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  background-color: #76beda;
  border-radius: 10px;
  border: PowderBlue 5px solid;
}

#final,
#datos {
  display: none;
}
body {
  font-family: "Gaegu", cursive;
  font-size: 20px;
}

#instru {
  text-align: center;
  padding: 10px 2px;
  color: white;
}

#comienzo {
  font-family: "Gaegu", cursive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  background-color: #76beda;
  border-radius: 10px;
  border: PowderBlue 5px solid;
}

#datos {
  text-align: center;
}

#final {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#offset,
#palabra {
  font-family: "Gaegu", cursive;
}
#codi {
  font-family: "Gaegu", cursive;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  background-color: #76beda;
  border-radius: 10px;
  border: PowderBlue 5px solid;
}

#decodi {
  font-family: "Gaegu", cursive;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #f0e8e8;
  background-color: #76beda;
  border-radius: 10px;
  border: PowderBlue 5px solid;
}

#regreso {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Gaegu", cursive;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;

  background-color: #76beda;
  border-radius: 10px;
  border: PowderBlue 5px solid;
}

#final,
#datos {
  display: none;
}
