body {  font-family: 'Gaegu', cursive;
font-size:20px;}
#inicio {
  background-color:   #FF6600;
  text-align: center;
}


#instru{
   background-color: #76beda;
  text-align: center;
   border: PowderBlue 5px solid;
   border-radius: 50px;
     padding: 10px 2px;
     }


#comienzo{

  font-family: 'Gaegu', cursive;
    display: block;
  margin-left: auto;
 margin-right: auto;
  padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    background-color: #76beda;
    border-radius: 10px;
border: PowderBlue 5px solid;
}

#datos {
  text-align: center;
}

#final {
  display: block;
  margin-left: auto;
 margin-right: auto;
  text-align: center;
}
#offset, #palabra{
  font-family: 'Gaegu', cursive;

}
#codi {
font-family: 'Gaegu', cursive;
  padding: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    background-color: #76beda;
    border-radius: 10px;
  border: PowderBlue 5px solid;
}

#decodi{
  font-family: 'Gaegu', cursive;
  padding: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    background-color: #76beda;
    border-radius: 10px;
  border: PowderBlue 5px solid;
}

#regreso
{
  display: block;
  margin-left: auto;
 margin-right: auto;
  text-align: center;
font-family: 'Gaegu', cursive;
  padding: 10px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    background-color: #76beda;
    border-radius: 10px;
  border: PowderBlue 5px solid;
}

#final, #datos{
  display: none;
}
