body {
  font-family: "Special Elite", cursive;
}

#bienvenida {
  display: flex;
  color: whitesmoke;
  background-image: url("portada.jpg");
  width: 1275px;
  height: 650.12px;
  background-size: cover;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.icone {
  width: 60px;
  height: 60px;
}

#datos {
  background-image: url("espacio.jpg");
  background-size: cover;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  text-align: center;
  font-family: "Special Elite", cursive;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #faebeb;
  width: 1260px;
  height: 632px;
  text-align: center;
}

#final {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: url("espacio.jpg");
  background-size: cover;
}
#offset,
#palabra {
  font-family: "Special Elite", cursive;
}
#codi {
  font-family: "Special Elite", cursive;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  background-color: #76beda;
  border-radius: 10px;
  border: PowderBlue 5px solid;
}

#decodi {
  font-family: "Special Elite", cursive;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  background-color: #76beda;
  border-radius: 10px;
  border: PowderBlue 5px solid;
}

#regreso {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Gaegu", cursive;
  padding: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  background-color: #76beda;
  border-radius: 10px;
  border: PowderBlue 5px solid;
}

#final,
#datos {
  display: none;
}
